services:
  jenkins:
    build:
      context: .
      dockerfile: jenkins-controller.Dockerfile
    container_name: goodfood-jenkins
    user: root
    restart: unless-stopped
    ports:
      - "8088:8080"
      - "50000:50000"
    environment:
      - JENKINS_OPTS=--httpPort=8080
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home:

